# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Streamlit cache and logs
.streamlit/secrets.toml

# Log files
*.log

# macOS / Linux system files
.DS_Store
*.swp

# Windows thumbnail cache
Thumbs.db

# Database credentials (if stored temporarily)
*.sqlite
*.db
*.sql


# VSCode & IDE settings
.vscode/
.idea/
*.code-workspace

# Jupyter/IPython (if used)
.ipynb_checkpoints/

# Test output
htmlcov/
coverage.xml
*.cover

# Python profiling/debugging
*.pyo
*.pyd
*.prof

#Video files
Video/
